html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Fira Mono', serif;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

a {
    color: #004F6E;
}

.btn {
    background: #F56E47;
}

.alert {
    background: #F6F4E1;
    color: #004F6E;
}

h1 {
    font-weight: 700;
}