{% extends "base.html" %}


{% block main_content %}
    <style>

        td {
            border: 2px black solid;
            height: 2em;
            width: 2em;
            font-weight: bold;
            font-size: xx-large;
        }
    </style>

    <table class="mt-5 mx-auto border p-2" id="boggle_board">
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-success btn-lg font-weight-bold mt-5" id="generate_board">Generate Board</button>

    <div class="alert alert-primary mx-auto m-5" style="max-width: 18rem;">
        <label for="game_link" class="h5 mb-3">Invite a Friend</label>
        <p class="">
            <a class="font-weight-bold" href="{{ url_for("boggle_board", game_id=game_id) }}"
               id="game_link">
            </a>
        </p>

        <hr>

        <label for="game_code" class="h5 mb-3">Join a Game</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Game Code" id="game_code">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="join_game">Join</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_scripts %}
    <script>

        function build_board(table, board) {
            for (let row = 0; row < 4; row++)
                for (let column = 0; column < 4; column++)
                    table.rows[row].cells[column].innerHTML = board[row][column];
        }

        $(document).ready(function () {
            let table = $("#boggle_board")[0];
            let game_link = $("#game_link");

            {% if game_id %}
                build_board(table, {{ dice|safe }});
                {# TODO: investigate method to display the dice without using the safe filter #}
                game_link.text("{{ game_id }}");
            {% endif %}

            $("#generate_board").click(function () {
                $.post("{{ url_for("generate_board") }}", {}).done(function (data) {
                    build_board(table, data["board"]);
                    game_link.text(data["game_id"]);
                    game_link.attr("href", "{{ url_for("boggle_board", game_id=1234) }}".replace("1234", data["game_id"]))

                })
            });

            $("#join_game").click(function () {
                window.location.href = "{{ url_for("boggle_board", game_id=1234) }}".replace("1234", $("#game_code").val());
            })
        });
    </script>
{% endblock %}