<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WebBoggle{% endblock %} - Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    {% block extra_css %}{% endblock %}

</head>
<body style="background: #F6F4E1;">
{# TODO: update CSS colouring using SASS -#}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="{{ url_for("routes.index") }}">WebBoggle</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("routes.index") }}">Quick Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <label style="display: none;" for="game_code"></label>
            <input class="form-control mr-sm-2" type="search" placeholder="Game Code" style="text-transform: uppercase;"
                   maxlength="6" id="game_code">
            <button class="btn btn-outline-success border-0 text-dark my-2 my-sm-0" type="button" id="join_game">
                Join
            </button>
        </form>
    </div>
</nav>

<div class="container-fluid text-center mt-2" style="min-width: 300px; max-width: 1400px; height: auto;">
    <div class="alert" role="alert">
        <h1 class="alert-heading">{% block page_title %}QuickPlay{% endblock %}</h1>
        <hr>
        <p class="mb-0">
            {%- block page_subtitle -%}
                Generate boggle boards and share them with your friends so that you can play remotely!
            {%- endblock -%}
        </p>
    </div>
    {% block main_content %}

    {% endblock %}

</div>

<div class="footer">
    <p class="w-100 text-center mb-0" style="color: #004F6E;">
        Copyright <a href="https://github.com/CouchMaster789/WebBoggle" class="font-weight-bold">WebBoggle</a>
        2020 &copy;
        <a href="https://github.com/CouchMaster789" class="font-weight-bold">Daniel Samet</a></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#join_game").click(function () {
            window.location.href = "{{ url_for("routes.boggle_board", game_id=1234) }}".replace("1234", $("#game_code").val());
        });

    })
</script>
{% block extra_scripts %}{% endblock extra_scripts %}

</body>
</html>