<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WebBoggle{% endblock %} - Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container text-center mt-4" style="min-width: 300px; max-width: 1080px; height: auto;">
    <div class="alert alert-primary" role="alert">
        <a class="h2 alert-heading" href="{{ url_for("routes.index") }}">WebBoggle</a>
        <hr>
        <p class="mb-0">Generate boggle boards and share them with your friends so that you can play remotely!</p>
    </div>
    {% block main_content %}

    {% endblock %}

</div>

<p class="w-100 text-center" style="bottom: 0; height: 25px;">Copyright <a href="https://github.com/CouchMaster789/WebBoggle">WebBoggle</a> 2020 &copy; <a href="https://github.com/CouchMaster789">Daniel Samet</a></p>

{% block extra_scripts %}{% endblock extra_scripts %}

</body>
</html>